{% extends 'layout.html' %}
{% block content %}

<style>
#DataTables_Table_0_previous {
    margin-right: 10px;
}
</style>

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.list_goals'), _("Admin")),
      (url_for('targets.list_targets'), _("Targets"))
      ]) }}
</ul>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('targets') }}

<table class="table table-bordered table-striped targets_listing">

    <thead>
      <th style="width:10px; text-align:center">{{_('Id')}}</th>
      <th>{{_('Targets')}}</th>
      <th style="width:10px; text-align:center">NL</th>
      <th style="width:10px; text-align:center">FR</th>
    </thead>

  <tbody>
    {% for target in targets %}
      <tr>
        <td>
            {{-target.id-}}
        </td>
        <td>
            <a href="{{url_for('targets.edit', target_id=target.id)}}?lang=en">{{_t(target.title)}}</a>
        </td>
        <td style="text-align: center;">
            <a href="{{url_for('targets.edit', target_id=target.id)}}?lang=nl"
               class="btn btn-mini btn-{% if target.title['nl'] and target.description['nl'] %}success
                          {% else %}warning{% endif %}" type="button">
                          {% if target.title['nl'] and target.description['nl']
                          %}{{_('translated')}} {% else %} {{_('translate')}} {% endif %}
            </a>
        </td>

        <td style="text-align: center;">
            <a href="{{url_for('targets.edit', target_id=target.id)}}?lang=fr"
               class="btn btn-mini btn-{% if target.title['fr'] and target.description['fr'] %}success
                          {% else %}warning{% endif %}" type="button">
                          {% if target.title['fr'] and target.description['fr']
                          %}{{_('translated')}} {% else %} {{_('translate')}} {% endif %}
            </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}

{% block scripts %}
{% from 'bits.html' import script_src -%}
{{ script_src('js/lib/datatables/jquery.dataTables.min.js') }}
{{ script_src('js/lib/datatables/DT_bootstrap.js') }}
<script>

  $(document).ready(function() {
    $('.targets_listing').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "bStateSave": true,
        "sPaginationType": "bootstrap",
        "oLanguage": {
          "sLengthMenu": '{{_("Display _MENU_ objectives per page")}}',
          "sZeroRecords": '{{_("No matching objectives found")}}'
        }
    });
  });
</script>

{% endblock scripts %}
