{% extends 'layout.html' %}
{% block content %}

{% from "navigation.html" import homepage_tabs %}
{{ homepage_tabs('aichi') }}

  <h1>Goals</h1>

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs">
      {% for _goal in goals_list %}
        {% set active = 'active' if _goal.id == goal.id %}
        <li class={{ active }}>
        <a href="{{ url_for('goals.homepage_goals', goal_short_title=_goal.short_title) }}">
          {{ _goal.short_title }}
        </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content aichi_view span10" >
      <p class='description'>{{ goal.description.en }}</p>

      <div class="row">
      <ul class="toc span2">
        {% for target in targets %}
        {% if loop.index0 % 2 == 0 and loop.index0 != 0 %}
        </ul><ul class="toc span2">
        {% endif %}
      <li><a href="#target_{{target.id}}">{{target.title.en}}</a></li>
      {% endfor %}
      </ul>
      </div>

      {% for target in targets %}
        <div class="target_field" id="target_{{ target.id }}">
          <h5>{{target.title.en }}</h5>

          <p>{{ target.description.en }}</p>

          {% if target.objective_ids %}
          <div class="row">
            <span class="span3">Mapping with National strategy:</span>
            <span class="span6">
              {% for objective in target.objective_ids %}
              <a href="{{url_for('objectives.view_subobj', objective_id=objective[0],
                                                           subobj_id=objective[1])}}">
                objective {{objective|join('.')}}
              </a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </span>
          </div>
          {% endif %}

          <div class="row">
            <span class="span1">Indicators:</span>
            <span class="span8">
              {% for id in target.indicator_ids %}
                <a href="{{url_for('indicators.view', indicator_id=id)}}">
                  {{id}}
                </a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </span>
          </div>

        </div>
      {% endfor %}

    </div>

  </div>

{% endblock content %}
