{%- macro css_link(filename, media, _external=None) -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=filename, _external=_external) }}"
          {% if media %} media="{{ media }}"{% endif %} />
{%- endmacro %}

{% macro script_src(filename) -%}
    <script src="{{ url_for('static', filename=filename) }}"></script>
{%- endmacro %}

{% macro flash_messages() -%}
  {% for category, message in get_flashed_messages(with_categories=True) %}
    {% set category_cls = 'alert-'+category if category else '' %}
    <p class="alert {{ category_cls }}">{{ message }}</p>
  {% endfor %}
{%- endmacro %}

{% macro breadcrumb_items(crumb_list) -%}
  <li>
    You are here<span class="divider">:</span>
  </li>
  {% for crumb in crumb_list %}
  <li class="{{ "active" if loop.last else "" }}">
    <a href="{{ crumb[0] }}">{{ crumb[1] }}</a>
    {% if not loop.last -%}
      <span class="divider">/</span>
    {%- endif %}
  </li>
  {% endfor %}
{%- endmacro %}

{% macro markup_help_button() %}
<div class="markdown_less">
</div>

<div class="markdown_all">
    <div class="markdown_text">
        <h3>Markup Syntax Quick Reference</h3>
        <p>Font Styles</p>
        <table>
            <thead>
                <th style="width: 150px; text-align: left;"></th>
                <th></th>
            </thead>

            <tbody>
                <tr>
                    <td>**Strong**</td>
                    <td>{{'**Strong**'|markdown}}</td>
                </tr>
                <tr>
                    <td>_Italic_</td>
                    <td>{{'_Italic_'|markdown}}</td>
                </tr>
                <tr>
                    <td>`Inline Code`</td>
                    <td>{{'`Inline Code`'|markdown}}</td>
                </tr>
           </tbody>
        </table>

        <p>Lists</p>
        <table>
            <thead>
                <th style="width: 150px; text-align: left;"></th>
                <th></th>
            </thead>

            <tbody>
                <tr>
                    <td>
                        * Item1
                        <br/>
                        * Item2
                    </td>
                    <td>
                        {{'* Item1'|markdown}}
                        {{'* Item2'|markdown}}
                    </td>
                </tr>
           </tbody>
        </table>

        <p>Headings</p>
        <table>
            <thead>
                <th style="width: 150px; text-align: left;"></th>
                <th></th>
            </thead>

            <tbody>
                <tr>
                    <td>
                        #### Fourth level heading
                    </td>
                    <td>
                        {{'#### Fourth level heading'|markdown}}
                    </td>
                </tr>
                <tr>
                    <td>
                        ##### Fifth level heading
                    </td>
                    <td>
                        {{'##### Fifth level heading'|markdown}}
                    </td>
                </tr>
            </tbody>
        </table>

        <p>Links</p>
        <table>
            <thead>
                <th style="width: 150px; text-align: left;"></th>
                <th></th>
            </thead>

            <tbody>
                <tr>
                    <td>
                        [Foo](http://foo.bar)
                    </td>
                    <td>
                        {{'[Foo](http://foo.bar)'|markdown}}
                    </td>
                </tr>
           </tbody>
        </table>

        <p>More info
            <a href="http://en.wikipedia.org/wiki/Markdown">here</a>.
        </p>
    </div>

    <div class="markdown_button">
    </div>
</div>

{% endmacro %}
