{%- macro css_link(filename, media, _external=None) -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=filename, _external=_external) }}"
          {% if media %} media="{{ media }}"{% endif %} />
{%- endmacro %}

{% macro script_src(filename) -%}
    <script src="{{ url_for('static', filename=filename) }}"></script>
{%- endmacro %}

{% macro flash_messages() -%}
  {% for category, message in get_flashed_messages(with_categories=True) %}
    {% set category_cls = 'alert-'+category if category else '' %}
    <p class="alert {{ category_cls }}">{{ message }}</p>
  {% endfor %}
{%- endmacro %}

{% macro breadcrumb_items(crumb_list) -%}
  <li>
    You are here<span class="divider">:</span>
  </li>
  {% for crumb in crumb_list %}
  <li class="{{ "active" if loop.last else "" }}">
    <a href="{{ crumb[0] }}">{{ crumb[1] }}</a>
    {% if not loop.last -%}
      <span class="divider">/</span>
    {%- endif %}
  </li>
  {% endfor %}
{%- endmacro %}

{% macro get_lang() %}
{% endmacro %}

{% macro translate_truncated_markdown(data) -%}
    {% if session.language is defined %}
      {% set lang = session.language[0] %}
    {% elif request is defined %}
      {% set lang = request.accept_languages.best_match(['en', 'fr', 'nl']) %}
    {% else %}
      {% set lang = 'en' %}
    {% endif %}

    {% if lang is none %}
      {% set lang = 'en' %}
    {% endif %}

    {% if data[lang]|markdown == '' %}
      {{ data.en|truncate(length=510, end='...')|markdown }}
    {% else %}
      {{ data[lang]|truncate(length=510, end='...')|markdown }}
    {% endif %}
{%- endmacro %}

{% macro translate_markdown(data) -%}
    {% if session.language is defined %}
      {% set lang = session.language[0] %}
    {% elif request is defined %}
      {% set lang = request.accept_languages.best_match(['en', 'fr', 'nl']) %}
    {% else %}
      {% set lang = 'en' %}
    {% endif %}

    {% if lang is none %}
      {% set lang = 'en' %}
    {% endif %}

    {% if data[lang]|markdown == '' %}
      {{ data.en|markdown }}
    {% else %}
      {{ data[lang]|markdown }}
    {% endif %}
{%- endmacro %}

{% macro translate(data) -%}
    {% if session.language is defined %}
      {% set lang = session.language[0] %}
    {% elif request is defined %}
      {% set lang = request.accept_languages.best_match(['en', 'fr', 'nl']) %}
    {% else %}
      {% set lang = 'en' %}
    {% endif %}

    {% if lang is none %}
      {% set lang = 'en' %}
    {% endif %}

    {% if data[lang] == '' %}
      {{ data.en }}
    {% else %}
      {{ data[lang] }}
    {% endif %}
{%- endmacro %}

{% macro markdown_preview() %}
<div class="modal hide" id="preview">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{_('Preview')}}</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">{{_('Close')}}</a>
  </div>
</div>

<a class="btn preview" data-toggle="modal" href="#preview">
  {{_('Preview')}}
</a>
{% endmacro %}

{% macro markdown_help() %}
<div class="modal hide" id="help">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{_('Markdown Cheat Sheet')}}</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span4">
        <p>{{_('Headers')}}</p>
        <pre>{{ gettext("# This is an %(h1)s tag", h1="<h1>")}}<br>{{ gettext('## This is an %(h2)s tag', h2='<h2>')}}<br>{{ gettext('###### This is an %(h6)s tag', h6='<h6>')}}</pre>
        <p>{{_('Text styles')}}</p>
        <pre>{{_('*This text will be italic*')}}<br>{{_('_This will also be italic_')}}<br>{{_('**This text will be bold**')}}<br>{{_('__This will also be bold__')}}<br><br>{{_('*You **can** combine them*')}}</pre>
        <p>{{_('Links')}}</p>
        <pre>[{{_('Link name')}}]({{_('http://example.com')}})</pre>
      </div>
      <div class="span4">
        <p>{{_('Ordered List')}}</p>
        <pre>1. {{_('Item')}} 1<br>2. {{_('Item')}} 2<br>3. {{_('Item')}} 3<br>   * {{_('Item')}} 3a<br>   * {{_('Item')}} 3b</pre>
        <p>{{_('Unordered List')}}</p>
        <pre>* {{_('Item')}} 1<br>* {{_('Item')}} 2<br>  * {{_('Item')}} 2a<br>  * {{_('Item')}} 2b</pre>
        <p>{{_('More info')}}</p>
        <p><a href="http://daringfireball.net/projects/markdown/syntax">http://daringfireball.net/projects/markdown/syntax</a></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">{{_('Close')}}</button>
  </div>
</div>

<a class="btn help" data-toggle="modal" href="#help">
  <i class="icon-question-sign"></i>
</a>
{% endmacro %}
