{%- macro css_link(filename, media, _external=None) -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=filename, _external=_external) }}"
          {% if media %} media="{{ media }}"{% endif %} />
{%- endmacro %}

{% macro script_src(filename) -%}
    <script src="{{ url_for('static', filename=filename) }}"></script>
{%- endmacro %}

{% macro flash_messages() -%}
  {% for category, message in get_flashed_messages(with_categories=True) %}
    {% set category_cls = 'alert-'+category if category else '' %}
    <p class="alert {{ category_cls }}">{{ message }}</p>
  {% endfor %}
{%- endmacro %}

{% macro breadcrumb_items(crumb_list) -%}
  <li>
    You are here<span class="divider">:</span>
  </li>
  {% for crumb in crumb_list %}
  <li class="{{ "active" if loop.last else "" }}">
    <a href="{{ crumb[0] }}">{{ crumb[1] }}</a>
    {% if not loop.last -%}
      <span class="divider">/</span>
    {%- endif %}
  </li>
  {% endfor %}
{%- endmacro %}
