{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('goals.list_goals'), "Goals")
      ]) }}
</ul>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('goals') }}

    <div class="listing">
    {% for goal in goals %}
        <h3> {{goal.title.en }}</h3>
        <p class="indent"> {{ goal.description.en }} </p>
            {% for target in target_dict[goal.short_title] %}
                <a href="{{url_for('targets.list_targets')}}#target_{{target.id}}" class="indent">{{target.title.en}}</a>
            {% endfor %}
    {% endfor %}
    </div>

{% endblock content %}
