{% from 'bits.html' import css_link, script_src, flash_messages -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NBSAP</title>
    {% block head %}
    {{ css_link('bootstrap/css/bootstrap.css') }}
    {{ css_link('bootstrap/css/bootstrap-responsive.css') }}

    {{ css_link('css/bootstrap-ui/jquery-ui-1.8.16.custom.css') }}
    {{ css_link('css/bootstrap-ui/jquery.ui.1.8.16.ie.css') }}
    {{ css_link("css/uniform.default.css") }}

    {{ css_link('css/chosen.css') }}
    {{ css_link('css/style.css') }}

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {#{{ css_link("css/print.css", "print") }}#}


    <style type="text/css">
        .inplace_field{
            width: 400px;
        }
        .subheader textarea{
            resize: vertical;
        }
    </style>
    {% endblock %}

    {% block extra_head %}
    {# To be overwritten by htmls that inherit it#}
    {% endblock %}
  </head>

  <body>
    {% block layout_header %}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('goals.homepage_goals') }}">
            {{_('National Biodiversity Strategy and Action Plan (NBSAP)')}}
          </a>
            <ul class="nav pull-right top-menu">
              {% if g.user %}
              <li>
              <a href="{{url_for('goals.list_goals')}}"><i class="icon-wrench icon-black"></i>{{_('Admin')}}</a>
              </li>
              <!--li>
                <a href="#"><i class="icon-question-sign icon-black"></i> Help</a>
              </li-->
              <li>
              <a href="{{url_for('auth.logout')}}">{{ _('Logout') }}</a>
              </li>
              {% else %}
              <li><a
                href="{{url_for('auth.login')}}">{{ _('Login') }}</a>
              </li>
              {% endif %}
              <li class="dropdown">
              <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                {{_('Language')}}
                <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <li><a href="{{url_for('goals.set_language', language="en")}}">
                    {{ _('English') }}
                  </a></li>
                  <li><a href="{{url_for('goals.set_language', language="fr")}}">
                    {{ _('French') }}
                  </a></li>
                  <li><a href="{{url_for('goals.set_language', language="nl")}}">
                    {{ _('Dutch') }}
                  </a></li>
                </ul>
              </li>
           </ul>

        </div>


      </div>
    </div>
    {% endblock %}

    <div class="container content">

      {{ flash_messages() }}

      {% from 'bits.html' import translate with context -%}

      {% block content %}
        {{ content }}
      {% endblock %}



    </div>

    {% block layout_footer %}
    <footer>
    <div class="container">
      <ul class="nav pull-right">
        <li><a href="#" class="museum-logo">museum.be logo</a></li>
        <li><a href="#" class="CHM-logo">CHM logo</a></li>
      </ul>
    </div>
      </footer>
    {% endblock %}

    {% block head_scripts %}
    {{ script_src("js/jquery-1.7.1.min.js") }}
    {{ script_src("js/jquery-ui-1.8.18.custom.min.js") }}
    {{ script_src("js/chosen.jquery.js") }}
    {{ script_src("js/jquery.utils.js") }}
    {{ script_src("js/jquery.uniform.js") }}
    {{ script_src("js/main.js") }}
    {{ script_src("js/jquery.editinplace.js") }}
    {{ script_src("bootstrap/js/bootstrap-collapse.js") }}
    {{ script_src("bootstrap/js/bootstrap-dropdown.js") }}

    <!--[if lt IE 9]>
      {{ script_src("js/ie.js") }}
    <![endif]-->

    <script>var app = {};</script>
    <script>
      $(function () {
         $(".chzn-select").chosen();
         $("input[type=file]").uniform();
      });
    </script>
    {% endblock %}

    {% block scripts %}
    {% endblock %}

  </body>
</html>
