{% extends 'layout.html' %}

{% block content %}

<div class="row login">
    <div class="span3 offset2">
            <a href="{{url_for('auth.google_login')}}">
                            <img alt="Google account" src="{{url_for('static', filename='google_logo.png')}}" title="Google Account">
            </a>
            <span class="login-span">{{_('Sign in with a Google Service')}}</span>
    </div>

    <div class="span3 offset1">
            <a href="{{url_for('auth.yahoo_login')}}">
                <img alt="Yahoo account" src="{{url_for('static', filename='yahoo_logo.png')}}" title="Yahoo Account">
            </a>
            <span class="login-span">{{_('Sign in with a Yahoo Service')}}</span>
    </div>
</div>


{% endblock content %}
