{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('goals.mapping'), "Mapping")
      ]) }}
</ul>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('mapping') }}

<h1>Map National Objectives to Aichi targets</h1>

<form class="form-horizontal" method="POST" action="{{url_for('goals.mapping')}}" style="margin-top: 25px">
  <fieldset>

  {%- for name in mk.children_order(mapping_schema) %}

    {% set field = mapping_schema[name] %}
    {% set error_cls = 'error' if field.errors else '' %}

    <div class="control-group {{ error_cls }}">
      <label class="control-label">{{ field.label }}</label>
      <div class="controls">
        {{ mk.widget(field) }}
        {% for message in field.errors %}
          <span class="help-inline">{{ message }}</span>
        {% endfor %}
        <textarea rows="1" class="mapping_text {{field.name}}" disabled='disabled'></textarea>
      </div>
    </div>

  {% endfor -%}

  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn" href="{{ url_for('goals.home') }}">Cancel</a>
  </div>
</form>

{% endblock content %}
{% block scripts %}
  {% from 'bits.html' import script_src -%}
  {{script_src('js/jquery.autogrow-textarea.js')}}
  {{script_src('js/mustache.js')}}
  <script>
  $(function () {
    $('.chzn-select').attr('data-placeholder', 'Select targets');

    $('select[name=objective]').on('change', function () {
      var option = $(this).val();
      var text = $(this).parents().eq(0).find('textarea');
      $.get("{{url_for('objectives.objective_data')}}", {'id_code': option}, function (data) {
        text.val(data['result']);
      });
    }).change();

    $('select[name=goal]').on('change', function () {
      var option = $(this).val();
      var text = $(this).parents().eq(0).find('textarea');
      $.get("{{url_for('goals.goal_data')}}", {'goal_short_title': option}, function (data) {
        text.val(data['result']);
      });
    }).change();

    $('select[name=main_target]').on('change', function () {
      var option = $(this).val();
      var text = $(this).parents().eq(0).find('textarea');
      $.get("{{url_for('targets.target_data')}}", {'other_targets': option}, function (data) {
        text.val(data['result'][0]);
      });
    }).change();

    $('select[name=other_targets]').on('change', function () {
      var options = $(this).serialize();
      var text = $(this).parents().eq(0).find('textarea');
      $.get("{{url_for('targets.target_data')}}", options, function (data) {
        var output = Mustache.render("{% raw %}{{#result}}{{.}}\n\n{{/result}}{% endraw %}", data)
        text.val(output);
        text.autogrow();
      });
    });
  });
  </script>
{% endblock scripts %}
