{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('goals.mapping'), "Mapping")
      ]) }}
</ul>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('mapping') }}

<h3>Aichi Goals - National Objectives Mapping</h3>

<form class="form-horizontal" method="POST" action="" style="margin-top: 25px">

  {{ mk.widget(mapping_schema) }}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

{% endblock content %}
