{% macro nav_tabs(active) -%}
<ul class="nav nav-tabs">

  <li class="{{ 'active' if active == 'goals' else '' }}">
  <a href="{{ url_for('goals.list_goals') }}">{{_('Goals')}}</a>
  </li>

  <li class="{{ 'active' if active == 'targets' else '' }}">
  <a href="{{ url_for('targets.list_targets') }}">{{_('Targets')}}</a>
  </li>

  <li class="{{ 'active' if active == 'indicators' else '' }}">
  <a href="{{ url_for('indicators.list_indicators') }}">{{_('Indicators')}}
    </a>
  </li>

  <li class="{{ 'active' if active == 'objectives' else '' }}">
  <a href="{{ url_for('objectives.list_objectives') }}">{{_('Objectives')}}
    </a>
  </li>

  <li class="{{ 'active' if active == 'mapping' else '' }}">
  <a href="{{ url_for('goals.mapping') }}">{{_('Mapping')}}
    </a>
  </li>

  <li class="{{ 'active' if active == 'eu_strategy' else '' }}">
  <a href="{{ url_for('eu_strategy.list_targets') }}">{{_('EU Strategy')}}
    </a>
  </li>

</ul>
{%- endmacro %}

{% macro homepage_tabs(active) -%}
<ul class="nav nav-tabs">

  <li class="{{ 'active' if active == 'aichi' else '' }}">
  <a href="{{ url_for('goals.homepage_goals') }}">{{_('Aichi')}}</a>
  </li>

  <li class="{{ 'active' if active == 'national' else '' }}">
  <a href="{{ url_for('objectives.homepage_objectives') }}">
    {{_('National Strategy')}}
  </a>
  </li>

  <li class="{{ 'active' if active == 'implementation' else '' }}">
  <a href="{{ url_for('objectives.homepage_actions') }}">
    {{_('Implementation')}}
  </a>
  </li>

</ul>
{%- endmacro %}

