{% macro nav_tabs(active) -%}
<ul class="nav nav-tabs">

  <li class="{{ 'active' if active == 'goals' else '' }}">
    <a href="{{ url_for('goals.list_goals') }}">Goals</a>
  </li>

  <li class="{{ 'active' if active == 'targets' else '' }}">
    <a href="{{ url_for('targets.list_targets') }}">Targets</a>
  </li>

  <li class="{{ 'active' if active == 'indicators' else '' }}">
  <a href="{{ url_for('indicators.list_indicators') }}">Indicators
    </a>
  </li>

  <li class="{{ 'active' if active == 'objectives' else '' }}">
  <a href="{{ url_for('objectives.list_objectives') }}">Objectives
    </a>
  </li>

  <li class="{{ 'active' if active == 'mapping' else '' }}">
  <a href="{{ url_for('goals.mapping') }}">Mapping
    </a>
  </li>

</ul>
{%- endmacro %}

{% macro homepage_tabs(active) -%}
<ul class="nav nav-tabs">

  <li class="{{ 'active' if active == 'aichi' else '' }}">
    <a href="{{ url_for('goals.homepage_goals') }}">Aichi</a>
  </li>

  <li class="{{ 'active' if active == 'national' else '' }}">
  <a href="{{ url_for('objectives.homepage_objectives') }}">
    National Strategy
  </a>
  </li>

</ul>
{%- endmacro %}

