{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.list_goals'), _("Admin")),
      (url_for('indicators.list_indicators'), _("Indicators")),
      (url_for('indicators.view', indicator_id=indicator.id), _t(indicator.name)),
      (url_for('indicators.edit', indicator_id=indicator.id),
        _("Edit Indicator") + " " + indicator.id|string())
      ]) }}
</ul>

{% macro error(field) %}
  {% for error in field.errors %}
    <span class="help-inline">{{error}}</span>
  {% endfor %}
{% endmacro %}

<h1>{{_('Edit indicator')}} {{ indicator.id }}</h1>
<form method="POST" class="form-horizontal indicator_form">
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{_('Save')}}</button>
        <a href="{{url_for('indicators.view', indicator_id=indicator.id)}}"
          class="btn" type="button">{{_('Cancel')}}</a>
    </div>

    <div class="control-group">
      <label class="control-label" for="language">{{_('Language')}}</label>
        <div class="controls">
            <select name="language" id="language">
                <option value="en"
                {% if language == 'en'%}selected="selected"{% endif %}>{{_('English')}}
                </option>

                <option value="fr"
                {% if language == 'fr'%}selected="selected"{% endif %}>{{_('French')}}
                </option>

                <option value="nl"
                {% if language == 'nl'%}selected="selected"{% endif %}>{{_('Dutch')}}
                </option>
            </select>
        </div>
    </div>

    <div class="indicator_edit">
        {{mk.widget(schema)}}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{_('Save')}}</button>
          <a href="{{url_for('indicators.view', indicator_id=indicator.id)}}"
            class="btn" type="button">{{_('Cancel')}}</a>
    </div>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}
{% from 'bits.html' import script_src -%}
{{ script_src('js/jquery.chained.mini.js') }}
{{ script_src('js/jquery.autogrow-textarea.js') }}

<script>
$('#other_targets').attr('data-placeholder', '{{_("Select targets")}}');
$('#scale').attr('data-placeholder', '{{_("Select scales")}}');

$(function () {
  $('textarea').autogrow();

  $("#language").on("change", function() {
    var lang = $(this).val();
    $('.indicator_edit').find('.field-i18nstring').children().hide();
    $('.indicator_edit').find('.field-i18nstring').children('#' + lang).show();
  }).change();

  $('#relevant_target').chained('#goal');
});
</script>
{% endblock %}
