{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('indicators.list_indicators'), "Indicators"),
      (url_for('indicators.view', indicator_id=indicator.id), indicator.name.en),
      (url_for('indicators.edit', indicator_id=indicator.id),
        "Edit Indicator " + indicator.id|string())
      ]) }}
</ul>

{% macro error(field) %}
  {% for error in field.errors %}
    <span class="help-inline">{{error}}</span>
  {% endfor %}
{% endmacro %}

<h1>Edit indicator {{ indicator.id }}</h1>
<form method="POST">
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{url_for('indicators.view', indicator_id=indicator.id)}}"
                class="btn" type="button">Cancel</a>
    </div>

    <div class="control-group">
        <label class="control-label" for="language">Language</label>
        <div class="controls">
            <select name="language" id="language">
                <option value="en"
                    {% if language == 'en'%}selected="selected"{% endif %}>English
                </option>

                <option value="fr"
                    {% if language == 'fr'%}selected="selected"{% endif %}>French
                </option>

                <option value="nl"
                    {% if language == 'nl'%}selected="selected"{% endif %}>Dutch
                </option>
            </select>
        </div>
    </div>

    <div class="row">
      <div class="span7">
        {{mk.widget(schema)}}
      </div>
      <div class="span5">

        <table class="table table-bordered table-striped indicator_view">

          {% set key_targets = ['other_targets'] %}
          {% set key_links = ['links'] %}

          <tbody>
            {% for key in order %}
              {% if key in indicator.keys() %}
              <tr>
                <!-- Exceptional case: Other Relevant Aichi Targets-->
                {% if key in key_targets %}
                  <td>
                    {% for value_element in indicator[key] %}
                      <a href="{{url_for('targets.list_targets')}}#target_{{value_element}}">
                        {{value_element}}{% if not loop.last %},{% endif %}
                      </a>
                    {% endfor %}
                  </td>
                <!-- Exceptional case: Related Links -->
                {% elif key in key_links %}
                  <td>
                    <ul>
                      {% for related_link in indicator[key] %}
                        <li><a href="{{related_link.url}}">{{related_link.url_name.en}}</a></li>
                      {% endfor %}
                    </ul>
                  </td>
                <!-- Regular case-->
                {% else %}
                  {% if key == 'relevant_target' %}
                    <td>
                      <a href="{{url_for('targets.list_targets')}}#target_{{indicator[key]}}">
                        {{indicator[key]}}
                      </a>
                    </td>
                  {% elif key == 'goal' %}
                    <td><a href="{{url_for('goals.list_goals')}}">{{indicator[key]}}</a></td>
                  {% elif key in ['sensitivity', 'ease_of_communication', 'validity'] %}
                    <td> {{ indicator[key] }} </td>
                  {% elif key == 'scale' %}
                    <td> {{ indicator[key]|join(', ') }} </td>
                  {% else %}
                    <td> {{ indicator[key].en }} </td>
                  {% endif %}
                {% endif %}
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>

        </table>

  </div>
      </div>

      <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save</button>
          <a href="{{url_for('indicators.view', indicator_id=indicator.id)}}"
                  class="btn" type="button">Cancel</a>
      </div>
  </form>

{% endblock content %}

{% block scripts %}
{{ super() }}
{% from 'bits.html' import script_src -%}
{{ script_src('js/jquery.chained.mini.js') }}

<script>
$('#other_targets').attr('data-placeholder', 'Select targets');
$('#scale').attr('data-placeholder', 'Select scales');

$(function () {
  $("#language").on("change", function() {
    var lang = $(this).val();
    $('.indicator_view').hide();
    if(lang != 'en') {
      $('.indicator_view').show();
    }
    $('.field-i18nstring').children().hide();
    $('.field-i18nstring').children('#' + lang).show();
  }).change();

  $('#relevant_target').chained('#goal');
});
</script>
{% endblock %}
