{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.list_goals'), _("Admin")),
      (url_for('indicators.list_indicators'), _("Indicators"))
      ]) }}
</ul>

<a class="pull-right" href={{url_for('goals.homepage_goals')}}>Homepage</a>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('indicators') }}

{% macro translation_button(indicator, language) %}
    {% set to_translate = [] %}
    {% for key in editable_keys %}
        {% if key in indicator %}
            {% if indicator[key]['en'] and not indicator[key][language] %}
                {% do to_translate.append(1) %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <a href="{{url_for('indicators.edit', indicator_id=indicator.id)}}?lang={{language}}"
       class="btn btn-mini btn-{% if to_translate %}warning{% else %}success{% endif %}"
       type="button">{% if to_translate %}{{_('translate')}}{% else %}{{_('translated')}}{% endif %}
    </a>
{% endmacro %}

<table class="table table-bordered table-striped indicator_listing">

  <thead>
    <th>{{_('Id')}}</th>
    <th>{{_('Operational Indicator')}}</th>
    <th>NL</th>
    <th>FR</th>
  </thead>

  <tbody>
    {% for indicator in indicators %}
      <tr>
        <td>{{ indicator.id }}</td>

        <td>
          <a href="{{url_for('indicators.view', indicator_id=indicator.id)}}">
            {{ _t(indicator.name) }}
          </a>
        </td>

        <td>{{ translation_button(indicator, 'nl') }}
        </td>

        <td>{{ translation_button(indicator, 'fr') }}
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}

{% block scripts %}
{% from 'bits.html' import script_src -%}
{{ script_src('js/lib/datatables/jquery.dataTables.min.js') }}
{{ script_src('js/lib/datatables/DT_bootstrap.js') }}
<script>

  $(document).ready(function() {
    $('.indicator_listing').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "bStateSave": true,
        "sPaginationType": "bootstrap",
        "oLanguage": {
          "sLengthMenu": '{{_("Display _MENU_ indicators per page")}}',
          "sInfo": '{{_("Showing _START_ to _END_ of _TOTAL_ indicators")}}',
          "sZeroRecords": '{{_("No matching indicators found")}}'
        }
    });
  });
</script>
{% endblock scripts %}
