{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('indicators.list_indicators'), "Indicators")
      ]) }}
</ul>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('indicators') }}

<table class="table table-bordered table-striped indicator_listing">

  <thead>
    <th>Id</th>
    <th>Operational Indicator</th>
  </thead>

  <tbody>
    {% for indicator in indicators %}
      <tr>

        <td>{{ indicator.id }}</td>

        <td>
          <a href="{{url_for('indicators.view', indicator_id=indicator.id)}}">
            {{ indicator.name.en }}
          </a>
        </td>

      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}

{% block scripts %}
{% from 'bits.html' import script_src -%}
{{ script_src('js/jquery.js') }}
{{ script_src('js/lib/datatables/jquery.dataTables.min.js') }}
{{ script_src('js/lib/datatables/DT_bootstrap.js') }}
<script>

  $(document).ready(function() {
    $('.indicator_listing').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "bStateSave": true,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "Display _MENU_ indicators per page",
            "sInfo": "Showing _START_ to _END_ of _TOTAL_ indicators",
            "sZeroRecords": "No matching indicators found"
        }
    });
  });
</script>
{% endblock scripts %}
