{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('indicators.list_indicators'), "Indicators"),
      (url_for('indicators.view', indicator_id=indicator.id), indicator.name)
      ]) }}
</ul>

<table class="table table-bordered table-striped indicator_view">

  {% set key_targets = ['other_targets'] %}
  {% set key_links = ['links'] %}

  <tbody>
    {% for key in order %}
      {% if key in indicator.keys() %}
      <tr>
        <td class="indicator_field"> {{ transit_dict[key] }} </td>
        <!-- Exceptional case: Other Relevant Aichi Targets-->
        {% if key in key_targets %}
            <td>
            {% for value_element in indicator[key] %}
                {% if loop.last %}
                    <a
                    href="{{url_for('targets.list_targets')}}#target_{{value_element}}">{{value_element}}
                    </a>
                {% else %}
                   <a
                    href="{{url_for('targets.list_targets')}}#target_{{value_element}}">{{value_element}}
                    </a>,
                {% endif %}
            {% endfor %}
            </td>
        <!-- Exceptional case: Related Links -->
        {% elif key in key_links %}
            <td>
                <ul>
                {% for related_link in indicator[key] %}
                    {% set link_label = related_link[0] %}
                    {% set link_ref = related_link[1] %}
                    <li><a href="{{link_ref}}">{{link_label}}</a></li>
                {% endfor %}
                </ul>
            </td>
        <!-- Regular case-->
        {% else %}
            {% if key == 'relevant_target' %}
                <td>
                    <a
                        href="{{url_for('targets.list_targets')}}#target_{{indicator[key]}}">{{indicator[key]}}
                    </a>
                </td>
            {% elif key == 'goal' %}
                <td><a href="{{url_for('goals.list_goals')}}">{{indicator[key]}}</a></td>
            {% else %}
                <td> {{ indicator[key] }} </td>
            {% endif %}
        {% endif %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>

</table>

{% endblock content %}
