{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.list_goals'), "Admin"),
      (url_for('indicators.list_indicators'), "Indicators"),
      (url_for('indicators.view', indicator_id=indicator.id), indicator.name[lang])
      ]) }}
</ul>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-primary edit" href="{{url_for('indicators.edit',indicator_id=indicator.id)}}">Edit</a>
  </div>
</div>

<table class="table table-bordered table-striped indicator_view">

  {% set key_targets = ['other_targets'] %}
  {% set key_links = ['links'] %}

  <tbody>
    {% for key in order %}
      {% if key in indicator.keys() %}
      <tr>
        <td class="indicator_field"> {{ transit_dict[key] }} </td>
        <!-- Exceptional case: Other Relevant Aichi Targets-->
        {% if key in key_targets %}
          <td><ul>
            {% for value_element in indicator[key] %}
              <li><a href="{{url_for('targets.list_targets')}}">Target {{value_element}}</a>
              : {{other_targets_descriptions[loop.index0]|markdown}}</li>
            {% endfor %}
          </ul></td>
        <!-- Exceptional case: Related Links -->
        {% elif key in key_links %}
            <td>
                <ul>
                {% for related_link in indicator[key] %}
                    <li><a href="{{related_link.url}}">{{related_link.url_name[lang]}}</a></li>
                {% endfor %}
                </ul>
            </td>
        {% else %}
        <!-- Exeptional case: Most Relevant Aichi Target -->
            {% if key == 'relevant_target' %}
                <td>
                  <a href="{{url_for('targets.list_targets')}}">
                    Target {{indicator[key]}}
                  </a>: {{main_target_description|markdown}}
                </td>
        <!-- Exeptional case: Goal -->
            {% elif key == 'goal' %}
            <td><a href="{{url_for('goals.list_goals')}}">Goal {{indicator[key]}}</a>
              : {{goal_description|markdown}}</td>
        <!-- Exeptional case: Sensitivty, Ease of communication, Validity -->
            {% elif key in ['sensitivity', 'ease_of_communication', 'validity'] %}
              <td> {{ indicator[key] }} </td>
        <!-- Exeptional case: Scale -->
            {% elif key == 'scale' %}
            <td><ul>
              {% for scale in indicator[key] %}
                <li>{{ scale_labels[scale] }}</li>
              {% endfor %}
            </ul></td>
        <!-- Regular case -->
            {% else %}
              <td> {{ indicator[key][lang] }} </td>
            {% endif %}
        {% endif %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>

</table>

{% endblock content %}
