{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('objectives.list_objectives'), "Objectives"),
      (url_for('objectives.view', objective_id=objective_id), "Objective " +
            objective_id|string()),
      (url_for('objectives.view_subobj', objective_id=objective_id,
            subobj_id=subobj_id+1), "Subobjective " + (subobj_id+1)|string()),
      (url_for('actions.view', objective_id=objective_id, subobj_id=subobj_id+1),
            action['actions'][subobj_id].title.en)
      ]) }}
</ul>

{% macro error(field) %}
  {% for error in field.errors %}
    <span class="help-inline">{{error}}</span>
  {% endfor %}
{% endmacro %}

<h1>Edit action related to objective {{objective_id}}, subobjective {{subobj_id+1}}</h1>

<form method="POST">
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{url_for('actions.view', objective_id=objective_id, subobj_id=subobj_id+1)}}"
                class="btn" type="button">Cancel
        </a>
    </div>

    <div class="control-group">
        <label class="control-label" for="language">Language</label>
        <div class="controls">
            <select name="language" id="language">
                <option value="en"
                    {% if language == 'en'%}selected="selected"{% endif %}>English
                </option>

                <option value="fr"
                    {% if language == 'fr'%}selected="selected"{% endif %}>French
                </option>

                <option value="nl"
                    {% if language == 'nl'%}selected="selected"{% endif %}>Dutch
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="language-container language-en">
                <div class="control-group {%- if schema['actions'][subobj_id]['body']['en'].errors %} error {%- endif %}">
                    <label class="control-label" for="body">Body</label>
                    <div class="controls">
                        <textarea name="body-en" id="body-en" style="width:100%; max-height: 900px;">
                            {{-schema['actions'][subobj_id]['body']['en']|safe-}}
                        </textarea>
                        {{error(schema['actions'][subobj_id]['body']['en'])}}
                    </div>
                </div>
            </div>

            <div class="language-container language-fr">
                <div class="control-group">
                    <label class="control-label" for="body">Body</label>
                    <div class="controls">
                        <textarea name="body-fr" id="body-fr" style="width:100%; max-height: 900px;">
                            {{-schema['actions'][subobj_id]['body']['fr']|safe-}}
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="language-container language-nl">
                <div class="control-group">
                    <label class="control-label" for="body">Body</label>
                    <div class="controls">
                        <textarea name="body-nl" id="body-nl" style="width:100%; max-height: 900px;">
                            {{-schema['actions'][subobj_id]['body']['nl']|safe-}}
                        </textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="span6 original-hideout" style="margin-top: -5px">
            <p>Original body in English</p>
            <div class="well">
                {{-action['actions'][subobj_id]['body']['en']|safe-}}
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{url_for('actions.view', objective_id=objective_id, subobj_id=subobj_id+1)}}"
                class="btn" type="button">Cancel
        </a>
    </div>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}
{% from 'bits.html' import script_src -%}
{{ script_src('js/jquery.js') }}
{{ script_src('js/jquery.autogrow-textarea.js') }}

<script>

$('textarea').autogrow();

$("#language").on("change", function() {
    var lang = $(this).val();
    $('.original-hideout').show();
    if (lang == 'en') {
        $('.original-hideout').hide();
    }
    $(".language-container").hide();
    $(".language-" + lang).show();
}).change();

</script>
{% endblock %}
