{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('objectives.list_objectives'), "Objectives"),
      (url_for('objectives.view', objective_id=objective_id), "Objective " +
            objective_id|string()),
      (url_for('objectives.view_subobj', objective_id=objective_id,
            subobj_id=subobj_id), "Subobjective " + subobj_id|string()),
      (url_for('actions.view', objective_id=objective_id, subobj_id=subobj_id),
            action.title.en)
      ]) }}
</ul>

<h3>{{ action.title.en }}</h3>

<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-primary edit"
            href="{{url_for('actions.edit',objective_id=objective_id, subobj_id=subobj_id)}}">Edit
        </a>
    </div>
</div>

<p>{{ action.body.en|markdown }}</p>

{% endblock content %}
