{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {% set breadcrumbs = [] %}
  {% do breadcrumbs.append((url_for('goals.list_goals'), _("Admin"))) %}
  {% do breadcrumbs.append((url_for('objectives.list_objectives'), _("Objectives"))) %}
  {% for item_dict, item_label in chain_matrix %}
        {% do breadcrumbs.append((url_for('objectives.view', **(item_dict)),
            _(item_label|string()))) %}
  {% endfor %}
  {% do breadcrumbs.append((url_for('actions.view', **(action_parents)),
  _("Action " + action['id']|string()) )) %}

  {{ breadcrumb_items(breadcrumbs) }}
</ul>

<h3>{{ _t(action.title) }}</h3>

<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-primary edit"
            href="{{url_for('actions.edit', **(action_parents))}}">{{_('Edit')}}
        </a>
    </div>
</div>

<div class="admin-action-description">
	<p>{{_tm(action.body)}}</p>
</div>

{% endblock content %}
