{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('objectives.list_objectives'), "Objectives"),
      (url_for('objectives.view', objective_id=objective.id), "Objective " +
            objective.id|string())

      ]) }}
</ul>

{% macro error(field) %}
  {% for error in field.errors %}
    <span class="help-inline">{{error}}</span>
  {% endfor %}
{% endmacro %}

<h1>Edit objective {{objective.id}}</h1>
<form method="POST">

    <div class="control-group">
        <label class="control-label" for="language">Language</label>
        <div class="controls">
            <select name="language" id="language">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="nl">Dutch</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="control-group {%- if schema.title['en'].errors %} error {%- endif %}">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <textarea name="title" id="title" rows="3" style="width: 100%">
                       {{-objective.title['en']|safe-}}
                    </textarea>
                    {{error(schema.title['en'])}}
                </div>
            </div>
        </div>
        <div class="span6">
            <p>Original title in English</p>
            <div class="well">
                {{-objective.title['en']|safe-}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="control-group {%- if schema.body['en'].errors %} error {%- endif %}">
                <label class="control-label" for="body">Body</label>
                <div class="controls">
                    <textarea name="body" id="body" rows="40" style="width: 100%">
                        {{-objective.body['en']|safe-}}
                    </textarea>
                    {{error(schema.body['en'])}}
                </div>
            </div>
        </div>
        <div class="span6">
            <p>Original body in English</p>
            <div class="well">
                {{-objective.body['en']|safe-}}
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{url_for('objectives.view', objective_id=objective.id)}}"
                class="btn" type="button">Cancel</a>
    </div>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}
{% from 'bits.html' import script_src -%}
{{ script_src('js/jquery.js') }}

{% endblock %}
