{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('objectives.list_objectives'), "Objectives"),
      (url_for('objectives.view', objective_id=objective.id), "Objective " +
            objective.id|string())

      ]) }}
</ul>
<div class="canvas">
    <div class="canvas-left-son">
        <form class="form-horizontal"
              method="POST"
              action="{{url_for('objectives.edit', objective_id=objective.id)}}">

                {{mk.widget(schema)}}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{url_for('objectives.view', objective_id=objective.id)}}"
                        class="btn" type="button">Cancel</a>
            </div>
        </form>
    </div>
    <div class="canvas-right-son">
        <!--span class="input-xlarge
        uneditable-input">{{objective.title[en]}}</span-->
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{% from 'bits.html' import script_src -%}
{{ script_src('js/jquery.js') }}

<script>
    $(".language-select").change(function() {
        console.log($(this).val());
        var lang = $(this).val();
        var input = $(this).parents().eq(2).find('input');
        console.log(input.val());
        /*var text2 = {{objective.title}};
        console.log({{objective.title[en]}});
        console.log({{objective.title[en]}});
        console.log({{objective.title[en]}});
        //input.val({{objective.title[lang]}});*/
    });
</script>
{% endblock %}
