{% extends 'layout.html' %}
{% block content %}

{% from "bits.html" import translate_truncated_markdown as _ttm with context %}
{% from "navigation.html" import homepage_tabs with context %}
{{ homepage_tabs('national') }}

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs nav-stacked local-navigation">
      <label class="nav-header">{{_('Objectives')}}</label>
      {% for objective_id in objective_ids | sort(attribute='id') %}
        {% set active = 'active' if objective_id.id == objective.id %}
        <li class={{ active }}>
        <a href="{{ url_for('objectives.homepage_objectives', objective_id=objective_id.id) }}">
          {{_('Objective')}} {{ objective_id.id }}
        </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content homepage_view" >
      <h1>{{_t(objective.title)}}</h1>

    <div class="element_field objective-description">
		{{ _tm(objective.body) }}
    </div>

      <div class="row">
		<label>Table of contents:</label>
          {% set LENGTH = (subobj_list|length) %}
          {% if LENGTH == 0 %}
            <ul class="span2">
                <li>{{_('No subobjectives found.')}}</li>
            </ul>
          {% endif %}
          {% if LENGTH >= 4 %}
            {% set SIZE = (((subobj_list|length)/3)|int)+1 %}
          {% else %}
            {% set SIZE = LENGTH %}
          {% endif %}
            {% for subobj in subobj_list %}
                {% if loop.index0 % SIZE == 0 and loop.first %}
                <ul class="span2">
                {% endif %}
                {% if loop.index0 % SIZE == 0 and not loop.first %}
                </ul><ul class="span2">
                {% endif %}
                <li>
                    <a href="#{{subobj['key']}}" rel="tooltip"
                    data-placement="right" data-original-title="{{_t(subobj['value']['title'])}}">
                    {{_('Objective')}} {{subobj['title-key']}}</a>
                </li>
            {% endfor %}
            </ul>
      </div>

      <div class="row">
          <ul class="span2">
          {% set LENGTH = (my_actions|length) %}
          {% if LENGTH == 0 %}
            <li>{{_('No related actions found.')}}</li>
          {% endif %}

            {% for action in my_actions %}
                <li>
                    <a href="#{{action['key']}}">
                        {{_('Action')}} {{action['title-key']}}</a>
                </li>
            {% endfor %}
          </ul>
      </div>


      {% for subobj in subobj_list %}
        <div class="element_field" id="{{subobj['key']}}">
          <h2>{{_t(subobj['value']['title'])}}</h2>

          <div class="snippet">
            {{ _ttm(subobj['value']['body']) }}
            <a class="more">{{_('show more')}}</a>
          </div>
          <div class="full">
            {{ _tm(subobj['value']['body']) }}
            <a class="less">{{_('show less')}}</a>
          </div>

          <label>{{_('Mapping with AICHI')}}:</label>
          <div class="row well">
          {% if subobj.mapping|length() %}
            {% for m in subobj.mapping %}
            <ul class="mapping-list">
              <li><span class="mapping-header">{{_('Goal')}}:</span>
                <span>
                  <a href="{{url_for('goals.homepage_goals', goal_short_title=m.goal.short_title)}}">
                    <strong>{{_('goal')}} {{m.goal.short_title}}</strong>: {{_tm(m.goal.description)}}
                  </a>
                </span>
              </li>
              <li><span class="mapping-header">{{_('Most relevant AICHI target')}}:</span>
              <span>
                  <a href="{{url_for('goals.homepage_goals',
                    goal_short_title=mapping[m.main_target.number], _anchor="target_%s" % m.main_target.number)}}">
                    <strong>{{_('target')}} {{m.main_target.number}}</strong>: {{_tm(m.main_target.description)}}
                  </a>
              </span>
              </li>

                {% if m.other_targets %}
                <li><span class="mapping-header">{{_('Other relevant AICHI targets')}}:</span>
                    <ul class="other-targets">
                      {% for target in m.other_targets %}
                      <li>
                        <a href="{{url_for('goals.homepage_goals',
                        goal_short_title=mapping[target.number], _anchor="target_%s" % target.number)}}">
                        <strong>{{_('target')}} {{target.number}}</strong>: {{_tm(target.description)}}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% endfor %}
          {% else %}
             {{_('None')}}
          {% endif %}
          </div>

          <label>{{_('Mapping with EU')}}:</label>
          <div class="row well">
          {% if subobj.mapping|length() %}
            {% set has_targets = [] %}
            {% for m in subobj.mapping %}
                {% if m.eu_targets %}
                    {% do has_targets.append(1) %}
                {% endif %}
            {% endfor %}

            {% if has_targets %}
                {% for m in subobj.mapping %}
                <ul class="mapping-list">
                  <li><span class="mapping-header">{{_('Targets')}}:</span>
                   {% for t in m['eu_targets'] %}
                        <span>
                          <a href="{{url_for('eu_strategy.homepage_eutargets', target_id=t['id'])}}">
                            <strong>{{_('target')}}
                            {{t['id']}}</strong>:
                            {{_tm(t['description'])}}
                          </a>
                        </span>
                  {% endfor %}
                  </li>
                  <li><span class="mapping-header">{{_('Related EU actions')}}:</span>
                    {% for a in m['eu_actions'] %}
                    <span>
                      <a href="{{url_for('eu_strategy.homepage_eutargets',
                        target_id=actions_urls[a]['father'])}}#{{a}}">
                        <strong>{{actions_urls[a]['title']}}</strong>:
                        {{actions_urls[a]['body']}}
                      </a>
                    </span>
                    {% endfor %}
                  </li>
                </ul>
                {% endfor %}
            {% else %}
             {{_('None')}}
            {% endif %}
          {% else %}
             {{_('None')}}
          {% endif %}
          </div>

          {% if subobj['actions'] %}
              <label>{{_('Related actions')}}:</label>
              {% for action in subobj['actions'] %}
                <div class="well">
                    <h2>{{_t(action['value']['title'])}}</h2>
                    {{_tm(action['value']['body'])}}
                </div>
              {% endfor %}
          {% endif %}
        </div>
		<div class="row between-subobj">
			<a class="pull-right" href="#top">{{_('Back to top')}}</a>
		</div>
      {% endfor %}

      {% for action in my_actions %}
        <div class="element_field" id="{{action['key']}}">
          <h2>{{_t(action['value']['title'])}}</h2>

          <div class="snippet">
            {{ _ttm(action['value']['body']) }}
            <a class="more">{{_('show more')}}</a>
          </div>
          <div class="full">
            {{ _tm(action['value']['body']) }}
            <a class="less">{{_('show less')}}</a>
          </div>
        </div>
		<div class="row ">
			<a class="pull-right" href="#top">{{_('Back to top')}}</a>
		</div>
      {% endfor %}

    </div>

  </div>

{% endblock content %}

{% block scripts %}
{{ super() }}
{% from 'bits.html' import script_src -%}
{{ script_src("bootstrap/js/bootstrap-tooltip.js") }}

<script>
$(function () {
  $("[rel=tooltip]").tooltip();
  $('.more').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    snippet.hide();
    full.show();
  });
  $('.less').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    full.hide();
    snippet.show();
  });
});

</script>
{% endblock scripts %}
