{% extends 'layout.html' %}
{% block content %}

{% from "bits.html" import translate_truncated_markdown as _ttm with context %}
{% from "navigation.html" import homepage_tabs %}
{{ homepage_tabs('national') }}

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs nav-stacked local-navigation">
      <label class="nav-header">{{_('Objectives')}}</label>
      {% for objective_id in objective_ids | sort(attribute='id') %}
        {% set active = 'active' if objective_id.id == objective.id %}
        <li class={{ active }}>
        <a href="{{ url_for('objectives.homepage_objectives', objective_id=objective_id.id) }}">
          {{_('Objective')}} {{ objective_id.id }}
        </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content homepage_view" >
      <h1>{{_t(objective.title)}}</h1>

    <div class="element_field well objective-description">
        <div class="snippet">
          {{ _ttm(objective.body) }}
          <a class="more">{{_('show more')}}</a>
        </div>
        <div class="full">
          {{ _tm(objective.body) }}
          <a class="less">{{_('show less')}}</a>
        </div>
    </div>

      <div class="row">
          <ul class="span2">
            {% for subobj in subobj_list %}
                <li>
                    <a href="#{{subobj['key']}}">
                        {{_('Objective')}} {{subobj['title-key']}}</a>
                </li>
            {% endfor %}
          </ul>
      </div>

      <div class="row">
          <ul class="span2">
            {% for action in my_actions %}
                <li>
                    <a href="#{{action['key']}}">
                        {{_('Action')}} {{action['title-key']}}</a>
                </li>
            {% endfor %}
          </ul>
      </div>


      {% for subobj in subobj_list %}
        <div class="element_field" id="{{subobj['key']}}">
          <h2>{{_t(subobj['value']['title'])}}</h2>

          <div class="snippet">
            {{ _ttm(subobj['value']['body']) }}
            <a class="more">{{_('show more')}}</a>
          </div>
          <div class="full">
            {{ _tm(subobj['value']['body']) }}
            <a class="less">{{_('show less')}}</a>
          </div>

          {% for action in subobj['actions'] %}
            <div>
                <br>
                <h2>{{_t(action['value']['title'])}}</h2>
                {{_tm(action['value']['body'])}}
            </div>
          {% endfor %}
            <a class="pull-right" href="#top">{{_('Back to top')}}</a>
        </div>
      {% endfor %}

      {% for action in my_actions %}
        <div class="element_field" id="{{action['key']}}">
          <h2>{{_t(action['value']['title'])}}</h2>

          <div class="snippet">
            {{ _ttm(action['value']['body']) }}
            <a class="more">{{_('show more')}}</a>
          </div>
          <div class="full">
            {{ _tm(action['value']['body']) }}
            <a class="less">{{_('show less')}}</a>
          </div>
            <a class="pull-right" href="#top">{{_('Back to top')}}</a>
        </div>
      {% endfor %}

    </div>

  </div>

{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
$(function () {
  $('.more').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    snippet.hide();
    full.show();
  });
  $('.less').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    full.hide();
    snippet.show();
  });
});

</script>
{% endblock scripts %}
