{% extends 'layout.html' %}
{% block content %}

{% from "bits.html" import translate_truncated_markdown as _ttm with context %}
{% from "navigation.html" import homepage_tabs %}
{{ homepage_tabs('national') }}

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs nav-stacked local-navigation">
      <label class="nav-header">{{_('Objectives')}}</label>
      {% for objective_id in objective_ids | sort(attribute='id') %}
        {% set active = 'active' if objective_id.id == objective.id %}
        <li class={{ active }}>
        <a href="{{ url_for('objectives.homepage_objectives', objective_id=objective_id.id) }}">
          {{_('Objective')}} {{ objective_id.id }}
        </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content homepage_view" >
      <h1>{{_t(objective.title)}}</h1>

    <div class="element_field well objective-description">
        <div class="snippet">
          {{ _ttm(objective.body) }}
          <a class="more">{{_('show more')}}</a>
        </div>
        <div class="full">
          {{ _tm(objective.body) }}
          <a class="less">{{_('show less')}}</a>
        </div>
    </div>

      <div class="row">
      <ul class="span2">
        {% for id in ids|sort() %}
          {% if loop.index0 % 4 == 0 and not loop.first %}
            </ul><ul class="span2">
          {% endif %}
          <li>
          <a href="#{{id}}">{{_('Objective')}} {{id}}</a>
          </li>
        {% endfor %}
      </ul>
      </div>

      {% for subobj in objective.subobjs|sort(attribute='id') %}
        <div class="element_field" id="{{[objective.id, subobj.id]|join('.')}}">
          <h2>{{_t(subobj.title)}}</h2>

          <div class="snippet">
            {{ _ttm(subobj.body) }}
            <a class="more">{{_('show more')}}</a>
          </div>
          <div class="full">
            {{ _tm(subobj.body) }}
            <a class="less">{{_('show less')}}</a>
          </div>


          <label>{{_('Mapping with AICHI')}}:</label>

            <div class="row well">
          {% if subobj.mapping|length() %}
            {% for m in subobj.mapping %}
            <ul class="mapping-list">

              <li><span class="mapping-header">{{_('Goal')}}:</span>
                <span>
                  <a href="{{url_for('goals.homepage_goals', goal_short_title=m.goal.short_title)}}">


                    <strong>{{_('goal')}} {{m.goal.short_title}}</strong>: {{_tm(m.goal.description)}}
                  </a>
                </span>
                </li>

                <li><span class="mapping-header">{{_('Most relevant AICHI target')}}:</span>
                <span>
                  <a href="{{url_for('goals.homepage_goals',
                    goal_short_title=mapping[m.main_target.number], _anchor="target_%s" % m.main_target.number)}}">

                    <strong>{{_('target')}} {{m.main_target.number}}</strong>: {{_tm(m.main_target.description)}}
                  </a>
                </span>
                </li>

                {% if m.other_targets %}
                <li><span class="mapping-header">{{_('Other relevant AICHI targets')}}:</span>
                <ul class="other-targets">
                  {% for target in m.other_targets %}

                  <li>
                  <a href="{{url_for('goals.homepage_goals',
                    goal_short_title=mapping[target.number], _anchor="target_%s" % target.number)}}">
                    <strong>{{_('target')}} {{target.number}}</strong>: {{_tm(target.description)}}
                  </a>
                  </li>

                  {% endfor %}
                </ul>

                  </li>
                {% endif %}

            </ul>
            {% endfor %}
          {% else %}
          {{_('None')}}
          {% endif %}
            </div>


            <a class="pull-right" href="#top">{{_('Back to top')}}</a>
        </div>
      {% endfor %}

    </div>

  </div>

{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
$(function () {
  $('.more').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    snippet.hide();
    full.show();
  });
  $('.less').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    full.hide();
    snippet.show();
  });
});

</script>
{% endblock scripts %}
