{% extends 'layout.html' %}
{% block content %}

<style>
#DataTables_Table_0_previous {
    margin-right: 10px;
}
</style>

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.list_goals'), _("Admin")),
      (url_for('objectives.list_objectives'), _("Objectives"))
      ]) }}
</ul>

<a class="pull-right btn btn-mini" href={{url_for('goals.homepage_goals')}}>Back to AICHI</a>

{% from "navigation.html" import nav_tabs with context %}
{{ nav_tabs('objectives') }}

<div class="add-button">
  <a class="btn btn-primary add" href="{{url_for('objectives.add')}}">{{_('Add objective')}}</a>
</div>

<table class="table table-bordered table-striped objectives_listing">

    <thead>
      <th class="obj-id">{{_('Id')}}</th>
      <th class="obj-title">{{_('Objectives')}}</th>
      <th class="obj-lang1">NL</th>
      <th class="obj-lang2">FR</th>
    </thead>

  <tbody>
    {% for objective in objectives %}
      <tr>
        <td>
            {{-objective.id-}}
        </td>

        <td>
            <a href="{{url_for('objectives.view', objective_id=objective.id)}}">{{_t(objective.title)}}</a>
 			<div class="hidden">
           	 {{_t(objective.body)}}
        	</div>
        </td>

        <td style="text-align: center;">
            <a href="{{url_for('objectives.edit', objective_id=objective.id)}}?lang=nl"
               class="btn btn-mini btn-{% if objective.title['nl'] and objective.body['nl'] %}success
                          {% else %}warning{% endif %}" type="button">
                          {% if objective.title['nl'] and objective.body['nl']
                          %}{{_('translated')}} {% else %} {{_('translate')}} {% endif %}
            </a>
        </td>

        <td style="text-align: center;">
            <a href="{{url_for('objectives.edit', objective_id=objective.id)}}?lang=fr"
               class="btn btn-mini btn-{% if objective.title['fr'] and objective.body['fr'] %}success
                          {% else %}warning{% endif %}" type="button">
                          {% if objective.title['fr'] and objective.body['fr']
                          %}{{_('translated')}} {% else %} {{_('translate')}} {% endif %}
            </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}

{% block scripts %}
{% from 'bits.html' import script_src -%}
{{ script_src('js/lib/datatables/jquery.dataTables.min.js') }}
{{ script_src('js/lib/datatables/DT_bootstrap.js') }}
<script>

  $(document).ready(function() {
    $('.objectives_listing').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "bStateSave": true,
        "iDisplayLength": 25,
        "oLanguage": {
          "sLengthMenu": '{{_("Display _MENU_ objectives per page")}}',
          "sZeroRecords": '{{_("No matching objectives found")}}'
        },
    });
  });
</script>

{% endblock scripts %}
