{% extends 'layout.html' %}
{% block content %}

<style>
#DataTables_Table_0_previous {
    margin-right: 10px;
}
</style>

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.list_goals'), "Admin"),
      (url_for('objectives.list_objectives'), "Objectives")
      ]) }}
</ul>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('objectives') }}

<table class="table table-bordered table-striped objectives_listing">

    <thead>
        <th>Id</th>
        <th>Objectives</th>
        <th>NL</th>
        <th>FR</th>
    </thead>

  <tbody>
    {% for objective in objectives %}
      <tr>
        <td>
            {{-objective.id-}}
        </td>
        <td>
            <a href="{{url_for('objectives.view', objective_id=objective.id)}}">{{objective.title[lang]}}</a>
        </td>
        <td style="text-align: center;">
            <a href="{{url_for('objectives.edit', objective_id=objective.id)}}?lang=nl"
               class="btn btn-mini btn-{% if objective.title['nl'] and objective.body['nl'] %}success
                          {% else %}warning{% endif %}" type="button">
                          {% if objective.title['nl'] and objective.body['nl']
                          %}translated {% else %} translate {% endif %}
            </a>
        </td>

        <td style="text-align: center;">
            <a href="{{url_for('objectives.edit', objective_id=objective.id)}}?lang=fr"
               class="btn btn-mini btn-{% if objective.title['fr'] and objective.body['fr'] %}success
                          {% else %}warning{% endif %}" type="button">
                          {% if objective.title['fr'] and objective.body['fr']
                          %}translated {% else %} translate {% endif %}
            </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>

<div class="add-button">
    <a class="btn btn-primary add" href="{{url_for('objectives.add')}}">Add objective</a>
</div>

{% endblock content %}

{% block scripts %}
{% from 'bits.html' import script_src -%}
{{ script_src('js/lib/datatables/jquery.dataTables.min.js') }}
{{ script_src('js/lib/datatables/DT_bootstrap.js') }}
<script>

  $(document).ready(function() {
    $('.objectives_listing').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "bStateSave": true,
        "oLanguage": {
            "sLengthMenu": "Display _MENU_ objectives per page",
            "sZeroRecords": "No matching objectives found"
        }
    });
  });
</script>

{% endblock scripts %}
