{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('objectives.list_objectives'), "Objectives"),
      (url_for('objectives.view', objective_id=objective_id), "Objective " +
            objective_id|string()),
      (url_for('objectives.view_subobj', objective_id=objective_id,
                subobj_id=subobj.id), "Subobjective " + subobj.id|string())
      ]) }}
</ul>

<h3>{{subobj.title.en}}</h3>
<p>{{subobj.body.en|markdown}}</p>

{% if action %}
<div class="property_list">
    <h3> Actions </h3>
    <a href="{{ url_for('actions.view', objective_id=objective_id,
                                        subobj_id=subobj.id) }}">
      {{ action.title.en }}
    </a>
</div>
{% endif %}

{% endblock content %}
