{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {% set breadcrumbs = [] %}
  {% do breadcrumbs.append((url_for('goals.list_goals'), "Admin")) %}
  {% do breadcrumbs.append((url_for('objectives.list_objectives'), "Objectives")) %}
  {% for node_i in parents %}
    {% for node_j in parents %}
        {% if 
  {% endfor %}
  {{ breadcrumb_items(breadcrumbs) }}
</ul>

<h3>{{objective.title.en}}</h3>

<div class="btn-toolbar">
    <div class="btn-group">
        {% if parent %}
            <a class="btn btn-primary edit"
            href="{{url_for('objectives.edit',objective_id=parent,
            so1_id=objective.id)}}">Edit</a>
        {% else %}
        <a class="btn btn-primary edit" href="{{url_for('objectives.edit',objective_id=objective.id)}}">Edit</a>
        {% endif %}
    </div>
</div>
<p>{{objective.body.en|markdown}}</p>

{% if objective.subobjs %}
<div class="property_list">
    <table class="table table-bordered table-striped">
        <thead>
            <th style="width:10px; text-align:center">Id</th>
            <th>Subobjectives</th>
            <th style="width:10px; text-align:center">NL</th>
            <th style="width:10px; text-align:center">FR</th>
        </thead>

      <tbody>
        {% for subobj in objective.subobjs %}
          <tr>
            <td>
                {{-subobj['id']-}}
            </td>
            <td>
                <a href="{{url_for('objectives.view',
                   objective_id=objective.id, so1_id=subobj.id)}}">{{subobj.title.en}}
                </a>
            </td>
            <td style="text-align: center;">
                <a href="{{url_for('objectives.edit', objective_id=objective.id,
                so1_id=subobj['id'])}}?lang=nl"
                   class="btn btn-mini btn-{% if subobj['body']['nl'] %}success
                              {% else %}warning{% endif %}" type="button">
                              {% if subobj['body']['nl'] %}translated {% else %} translate {% endif %}
                </a>
            </td>

            <td style="text-align: center;">
                <a href="{{url_for('objectives.edit', objective_id=objective.id,
                so1_id=subobj['id'])}}?lang=fr"
                   class="btn btn-mini btn-{% if subobj['body']['fr'] %}success
                              {% else %}warning{% endif %}" type="button">
                              {% if subobj['body']['fr'] %}translated {% else %} translate {% endif %}
                </a>
            </td>

          </tr>
        {% endfor %}
      </tbody>

    </table>
</div>
{% endif %}

<div class="add-button">
    {% if parent %}
     <a class="btn btn-primary add" href="{{url_for('objectives.add_subobj',
     objective_id=parent, so1_id=objective.id)}}">Add subobjective</a>
    {% else %}
    <a class="btn btn-primary add" href="{{url_for('objectives.add_subobj', objective_id=objective.id)}}">Add subobjective</a>
    {% endif %}
</div>



<!--div class="property_list">
    <table class="table table-bordered table-striped">
        <thead>
            <th style="width:10px; text-align:center">Id</th>
            <th>Actions</th>
            <th style="width:10px; text-align:center">NL</th>
            <th style="width:10px; text-align:center">FR</th>
        </thead>

      <tbody>
    {% for action in actions|sort(attribute='id') %}
          <tr>
            <td>
                {{-action['id']-}}
            </td>
            <td>
                <a href="{{ url_for('actions.view', objective_id=objective.id,
                                    subobj_id=action.id) }}">
                     {{ action.title.en }}
                </a>
            </td>

            <td style="text-align: center;">
                <a href="{{url_for('actions.edit', objective_id=objective.id, subobj_id=action.id)}}?lang=nl"
                   class="btn btn-mini btn-{% if action['body']['nl'] %}success
                              {% else %}warning{% endif %}" type="button">
                              {% if action['body']['nl'] %}translated {% else %} translate {% endif %}
                </a>
            </td>

            <td style="text-align: center;">
                <a href="{{url_for('actions.edit', objective_id=objective.id, subobj_id=action.id)}}?lang=fr"
                   class="btn btn-mini btn-{% if action['body']['fr'] %}success
                              {% else %}warning{% endif %}" type="button">
                              {% if action['body']['fr'] %}translated {% else %} translate {% endif %}
                </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

</div-->
{% endblock content %}
