{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.home'), "Home"),
      (url_for('objectives.list_objectives'), "Objectives"),
      (url_for('objectives.view', objective_id=objective.id), "Objective " +
            objective.id|string())

      ]) }}
</ul>

<h3>{{objective.title.en}}</h3>
<p>{{objective.body.en|safe}}</p>

{% if objective.subobjs %}
<div class="property_list">
    <h4> Subobjectives </h4>
    <ul>
    {% for subobj in objective.subobjs %}
        <li><a href="{{url_for('objectives.view_subobj',
        objective_id=objective.id, subobj_id=subobj.id)}}">{{subobj.title.en}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if actions %}
<div class="property_list">
    <h4> Actions </h4>
    <ul>
    {% for action in actions %}
    <li>
      <a href="{{ url_for('actions.view', objective_id=objective.id,
                                        subobj_id=action.id) }}">
        {{ action.title.en }}
      </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock content %}
