{% extends 'layout.html' %}
{% block content %}

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.list_goals'), _("Admin")),
      (url_for('goals.list_goals'), _("Goals")),
      (url_for('goals.edit', goal_id=goal.id), _("Edit Goal") + " " +
            goal.short_title)

      ]) }}
</ul>

{% macro error(field) %}
  {% for error in field.errors %}
    <span class="help-inline">{{error}}</span>
  {% endfor %}
{% endmacro %}

<h1 class="small">{{_('Edit goal')}} {{goal.short_title}}</h1>
<form method="POST">
    <div class="control-group">
      <label class="control-label" for="language">{{_('Language')}}</label>
        <div class="controls">
            <select name="language" id="language">
                <option value="en"
                {% if language == 'en'%}selected="selected"{% endif %}>{{_('English')}}
                </option>

                <option value="fr"
                {% if language == 'fr'%}selected="selected"{% endif %}>{{_('French')}}
                </option>

                <option value="nl"
                {% if language == 'nl'%}selected="selected"{% endif %}>{{_('Dutch')}}
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="language-container language-en">
                <div class="control-group {%- if schema.title['en'].errors %} error {%- endif %}">
                  <label class="control-label" for="title">{{_('Title')}}</label>
                    <div class="controls">
                        <textarea name="title-en" id="title-en" style="width: 100%">
                           {{-schema.title['en']-}}
                        </textarea>
                        {{error(schema.title['en'])}}
                    </div>
                </div>
                <div class="control-group {%- if schema.description['en'].errors %} error {%- endif %}">
                  <label class="control-label" for="body">{{_('Description')}}</label>
                    <div class="controls wmd-panel">
                      <div id="wmd-button-bar-en"></div>
                      <textarea name="body-en" class="wmd-input" id="wmd-input-en"
                            style="width:100%; max-height: 900px;">
                        {{-schema.description['en']|safe-}}
                      </textarea>
                    </div>
                    <div id="wmd-preview-en" class="wmd-panel wmd-preview"></div>
                      {{error(schema.description['en'])}}
                </div>
            </div>

            <div class="language-container language-fr">
                <div class="control-group">
                  <label class="control-label" for="title">{{_('Title')}}</label>
                    <div class="controls">
                        <textarea name="title-fr" id="title-fr" style="width: 100%; ">
                           {{-schema.title['fr']-}}
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="body">{{_('Description')}}</label>
                    <div class="controls wmd-panel">
                      <div id="wmd-button-bar-fr"></div>
                      <textarea name="body-fr" class="wmd-input" id="wmd-input-fr"
                            style="width:100%; max-height: 900px;">
                        {{-schema.description['fr']|safe-}}
                      </textarea>
                    </div>
                    <div id="wmd-preview-fr" class="wmd-panel wmd-preview"></div>
                </div>
            </div>

            <div class="language-container language-nl">
                <div class="control-group">
                  <label class="control-label" for="title">{{_('Title')}}</label>
                    <div class="controls">
                        <textarea name="title-nl" id="title-nl" style="width: 100%; ">
                           {{-schema.title['nl']-}}
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="body">{{_('Description')}}</label>
                    <div class="controls wmd-panel">
                      <div id="wmd-button-bar-nl"></div>
                      <textarea name="body-nl" class="wmd-input" id="wmd-input-nl"
                            style="width:100%; max-height: 900px;">
                        {{-schema.description['nl']|safe-}}
                      </textarea>
                    </div>
                    <div id="wmd-preview-nl" class="wmd-panel wmd-preview"></div>
                </div>
            </div>

            {% from 'bits.html' import markdown_help, markdown_preview -%}
            {{ markdown_preview() }}
            {{ markdown_help() }}

        </div>
        <div class="span6 original-hideout" style="margin-top: -5px">
          <p class="original-title">{{_('Original title in English')}}</p>
            <div class="well">
                {{-goal.title['en']-}}
            </div>

            <p class="original-description">{{_('Original description in English')}}</p>
            <div class="well">
                {{-goal.description['en']|markdown-}}
            </div>
        </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{_('Save')}}</button>
        <a href="{{url_for('goals.list_goals')}}"
          class="btn" type="button">{{_('Cancel')}}</a>
    </div>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}
{% from 'bits.html' import script_src -%}
{{ script_src('js/jquery.autogrow-textarea.js') }}
{{ script_src('js/language.js') }}

{{ script_src('js/Markdown.Converter.js') }}
{{ script_src('js/Markdown.Sanitizer.js') }}
{{ script_src('js/Markdown.Editor.js') }}
{{ script_src('js/less-1.2.2.min.js') }}
{{ script_src("bootstrap/js/bootstrap-tooltip.js") }}
{{ script_src("bootstrap/js/bootstrap-modal.js") }}
{{ css_link ('css/markdown.css') }}

{{ script_src('js/edit_markdown.js') }}
<script>
var tag = "{{_('Insert Link')}}";

$(function() {
  $('#wmd-link-button-en').on('click', function () {
    setTimeout( function()
    {
      $('h3:contains("Insert Link")').html(tag);
    }, 0 );
  });

  $('textarea').autogrow();
});
</script>
{% endblock %}
