{% macro input(mk, field) %}
  {{ mk.input(**mk.properties(field, id="field-%s" % field.name)) }}
{% endmacro %}

{% macro i18n_edit_input(field, number=None) %}
{% if number is none %}
<input name='{{field.parent.name + '_' + field.name}}' type='text' value='{{field.value if field.value }}'
  class='input-xxlarge {{field.properties.css_class}}' id='{{field.name}}'/>
{% else %}
<input name='{{field.parent.name + '_' + field.name + '_' + number|string()}}' type='text' value='{{field.value if field.value }}'
  class='input-xxlarge {{field.properties.css_class}}' id='{{field.name}}'/>
{% endif %}
{% endmacro %}

{% macro count_edit_input(field, number) %}
<input name='{{field.name + '_' + number|string()}}' type='text' value='{{field.value if field.value }}'
       class='input-xxlarge {{field.properties.css_class}}' id='{{field.name}}'/>
{% endmacro %}

{% macro edit_input(field) %}
<input name='{{field.name}}' type='text' value='{{field.value if field.value }}'
       class='input-xxlarge {{field.properties.css_class}}' id='{{field.name}}'/>
{% endmacro %}

{% macro i18n_edit_textarea(field) %}
<textarea class="input-xxlarge input-xlarge edit-textarea {{field.properties.css_class}} {{field.name}}"
       name='{{ field.parent.name + '_' + field.name }}' id='{{field.name}}'
       {% if not field.optional %}
          required
       {% endif %}
>{{field|safe}}</textarea>
{% endmacro %}


{% macro edit_textarea(field) %}
<textarea class="input-xxlarge input-xlarge edit-textarea {{field.properties.css_class}} {{field.name}}"
       name={{ field.name }}
       {% if not field.optional %}
          required
       {% endif %}
>{{field|safe}}</textarea>
{% endmacro %}

{% macro textarea(mk, field) %}
 {%- do mk.begin(auto_domid=true, auto_for=true) %}
    {{ mk.textarea(field, class=field.properties.css_class) }}
  {% do mk.end() -%}
{% endmacro %}


{% macro list(mk, field) %}
  {% from 'bits.html' import translate as _t with context %}
  {% set valid_values = field.properties.valid_values %}
  {% set value_labels = field.properties.value_labels %}

  {{ mk.select.open(name=field.name, id=field.name, class=field.properties.css_class,
                             multiple=field.properties.multiple) }}

  {% for value in field.properties.valid_values %}
    {% set value_label = (value_labels[value] if value_labels else value) %}
    {% if value|string() in field.value %}
      {{ mk.option(value=value|string(), contents=_t(value_label), selected='selected') }}
    {% else %}
      {{ mk.option(value=value|string(), contents=_t(value_label)) }}
    {% endif %}
  {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}

{% macro obj_select(mk, field) %}
  {% set value_groups = field.properties.groups %}

  {{ mk.select.open(name=field.name, id=field.name, class=field.properties.css_class) }}

  {% for i in value_groups %}
    <optgroup label="{{_('Objective')}} {{i}}">
      {% for value in value_groups[i] %}
        {% if field.value and field.value == value %}
          <option value={{value}} selected='selected'>{{_('Subobjective')}} {{value}}</option>
        {% else %}
          <option value={{value}}>{{_('Subobjective')}} {{value}}</option>
        {% endif %}
      {% endfor %}
    </optgroup>
  {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}


{% macro select(mk, field) %}
  {% from 'bits.html' import translate as _t with context %}
  {% set valid_values = field.valid_values %}
  {% set value_labels = field.properties.value_labels or
                        field.value_labels or None %}

  {{ mk.select.open(name=field.name, id=field.name, class=field.properties.css_class) }}

  {% if field.optional %}
    {{ mk.option(value="", contents="--") }}
  {% endif %}

  {% for value in field.valid_values %}
    {% set value_label = (value_labels[value|int(default=value)] if value_labels else value) %}
    {% set selected = 'selected' if value == field.value else 'unselected' %}
    {% if field.properties.mapping %}
      {% if value == field.value %}
        {{ mk.option(class=field.properties.mapping[value|string()], value=value|string(),
                     contents=_t(value_label), selected='selected') }}
      {% else %}
        {{ mk.option(class=field.properties.mapping[value|string()], value=value|string(),
                     contents=_t(value_label)) }}
      {% endif %}
    {% else %}
      {% if value == field.value %}
        {{ mk.option(value=value|string(), contents=_t(value_label), selected='selected') }}
      {% else %}
        {{ mk.option(value=value|string(), contents=_t(value_label)) }}
      {% endif %}
    {% endif %}
  {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}


{% macro tabel(mk, schema) %}
  <table class="table table-bordered table-striped">
    <tbody>
    {%- for name in mk.children_order(schema) %}
      {% set field = schema[name] %}
      {% set error_cls = 'error' if field.errors else '' %}

      {% if field.properties.widget != 'hidden' %}
      <tr>
          <td><label class="{{ error_cls }} label-{{field.name}}">{{ field.label }}</label></td>
          <td><div class="{{ error_cls }}controls control-{{field.name}}">
          {% if field.properties.widget == 'textarea' %}
            {{ textarea(field) }}
          {% elif field.properties.widget == 'edit_input' %}
            {{ edit_input(field) }}
          {% else %}
            {{ mk.widget(field) }}
          {% endif %}
          {% for message in field.errors %}
            <span class="help-inline">{{ message }}</span>
          {% endfor %}
          </div></td>
      </tr>
      {% endif %}
    {% endfor -%}
    </tbody>
  </table>
{% endmacro %}


{% macro tabel_form(mk, schema) %}
  <fieldset>
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    {% set error_cls = 'error' if field.errors else '' %}

    {% if field.properties.widget != 'hidden' %}
    <div class="control-group {{error_cls}} group-{{field.name}}">
      <label class="control-label label-{{field.name}}">{{ field.label }}</label>
      <div class="controls control-{{field.name}}">
          {% if field.properties.widget == 'textarea' %}
            {{ textarea(field) }}
          {% elif field.properties.widget == 'edit_input' %}
            {{ edit_input(field) }}
          {% else %}
            {{ mk.widget(field) }}
          {% endif %}
        {% for message in field.errors %}
          <span class="help-inline">{{ message }}</span>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endfor -%}
  </fieldset>
{% endmacro %}

{% macro i18nstring(mk, field, number=None) %}
  <div class="field-i18nstring {{ field.properties.get('css_class') }}">
  {% set field_items = [] %}
  {% for name in mk.children_order(field) %}
      {% do field_items.append((name, field[name])) %}
  {% endfor %}
  {% for subfield_name, subfield in field_items %}
    {% set properties = mk.properties(subfield) %}
    <label class="{{subfield.name}}">{{ subfield.label }}</label>

    {% set field_widget = field.properties.get("field_widget") %}
    {% if field_widget == "edit_textarea" %}
      {{ i18n_edit_textarea(subfield) }}
    {% else %}
      {{ i18n_edit_input(subfield, number) }}
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{% macro general_pairs(mk, field) %}
  {% for element in field %}
    {% set number = loop.index0 %}
    {% for key in element.field_schema %}
      {% set subfield = element[key.name] %}
      <label>{{subfield.label}}</label>
      {% if subfield.properties.widget == 'edit_input' %}
        {{ count_edit_input(subfield, number) }}
      {% else %}
        {{ i18nstring(mk, subfield, number) }}
      {% endif %}
      {% if loop.index % 2 == 0 %}
        <br/>
        <br/>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}

{% macro hidden(mk, schema) %}
{% endmacro %}
