{% macro input(mk, field) %}
  {{ mk.input(field, **mk.properties(field, id="field-%s" % field.name)) }}
{% endmacro %}

{% macro edit_textarea(field) %}
<textarea class="input-xlarge edit-textarea {{field.properties.css_class}} {{field.name}}"
       name={{ field.name }}
       {% if not field.optional %}
          required
       {% endif %}
>{{field|safe}}</textarea>
{% endmacro %}

{% macro textarea(mk, field) %}
 {%- do mk.begin(auto_domid=true, auto_for=true) %}
    {{ mk.textarea(field, class=field.properties.css_class) }}
  {% do mk.end() -%}
{% endmacro %}


{% macro list(mk, field) %}
  {% set valid_values = field.properties.valid_values %}
  {% set value_labels = field.properties.value_labels %}

  {% if field.properties.multiple %}
    {{ mk.select.open(field, id=field.name, class=field.properties.css_class,
                             multiple=field.properties.multiple) }}
  {% else %}
    {{ mk.select.open(field, id=field.name, class=field.properties.css_class) }}
  {% endif %}

  {% for value in field.properties.valid_values %}
    {% set value_label = (value_labels[value]) %}
    {{ mk.option(field, value=value|string(), contents=value_label) }}
  {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}

{% macro obj_select(mk, field) %}
  {% set value_groups = field.properties.groups %}

  {{ mk.select.open(field, id=field.name, class=field.properties.css_class) }}

  {% for i in value_groups %}
    <optgroup label="Objective {{i}}">
      {% for j in value_groups[i] %}
      {% set value = value_groups[i][j] %}
      <option value={{value}}>Subobjective {{value}}</option>
      {% endfor %}
    </optgroup>
  {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}


{% macro select(mk, field) %}
  {% set valid_values = field.valid_values %}
  {% set value_labels = field.properties.value_labels or
                        field.value_labels or None %}

  {{ mk.select.open(field, id=field.name, class=field.properties.css_class) }}

  {% for value in field.valid_values %}
    {% set value_label = (value_labels[value|int(default=value)] if value_labels else value) %}
    {{ mk.option(field, value=value|string(), contents=value_label) }}
  {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}


{% macro form(mk, schema) %}
  <fieldset>
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    {% set error_cls = 'error' if field.errors else '' %}

    {% if field.properties.widget != 'hidden' %}
    <div class="control-group {{error_cls}} group-{{field.name}}">
      <label class="control-label label-{{field.name}}">{{ field.label }}</label>
      <div class="controls control-{{field.name}}">
        {{ mk.widget(field) }}
        {% for message in field.errors %}
          <span class="help-inline">{{ message }}</span>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endfor -%}
  </fieldset>
{% endmacro %}

{% macro i18nstring(mk, field) %}
  <div class="well field-i18nstring {{ field.properties.get('css_class') }}">
  {% set field_items = [] %}
  {% for name in mk.children_order(field) %}
      {% do field_items.append((name, field[name])) %}
  {% endfor %}
  {% for subfield_name, subfield in field_items %}
    {#{{ '%r'|format(subfield) }}#}
    {% set properties = mk.properties(subfield) %}
    {#{ mk.label(subfield, contents=subfield.label) }#}
    <label class="{{subfield.name}}">{{ subfield.label }}</label>

    {% set field_widget = field.properties.get("field_widget") %}
    {% if field_widget == "edit_textarea" %}
      {{ edit_textarea(subfield) }}
    {% else %}
      {{ input(mk, subfield) }}
    {% endif %}
    <br>
  {% endfor %}
  </div>
{% endmacro %}

{% macro hidden(mk, schema) %}
{% endmacro %}
