{% extends 'layout.html' %}
{% block content %}

<style>
#DataTables_Table_0_wrapper {
    margin-top: 20px;
}
</style>

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.admin'), "Admin"),
      (url_for('goals.mapping'), "Mapping")
      ]) }}
</ul>

{% from "navigation.html" import nav_tabs %}
{{ nav_tabs('mapping') }}

<h1>Mappings of National Objectives to Aichi targets</h1>

<table class="table table-bordered table-striped mapping_listing">

  <thead>
    <th>Objective</th>
    <th>Goal</th>
    <th>Most relevant target</th>
    <th>Other relevant targets</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>

  <tbody>
    {% for mapping in mappings %}
    <tr>
      {% set objective_id = mapping.objective[0] %}
      {% set subobjective_id = mapping.objective[1] %}
      <td><a href="{{url_for('objectives.view_subobj',
                    objective_id=objective_id, subobj_id=subobjective_id)}}">
          {{mapping.objective|join('.')}}
      </a></td>


      <td><a href="{{url_for('goals.edit', goal_id=mapping.goal.id)}}">
          {{mapping.goal.name}}
      </a></td>

      <td><a href="{{url_for('targets.edit', target_id=mapping.main_target)}}">
          {{mapping.main_target}}
      </a></td>

      <td>{% for target in mapping.other_targets %}
        <a href="{{url_for('targets.edit', target_id=target)}}">
          {{target}}
        </a>{% if not loop.last %},{% endif %}
      {% endfor %}</td>

      <td style="text-align: center;">
        <a class="btn btn-mini btn-primary"
          href="{{ url_for('goals.mapping_edit', mapping_id=mapping._id) }}">
            edit
        </a>
      </td>

      <td style="text-align: center;">
        <a class="btn btn-mini btn-danger"
           href="{{ url_for('goals.mapping_delete', mapping_id=mapping._id) }}">
            delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-primary" href="{{ url_for('goals.mapping_edit') }}">Add mapping</a>
  </div>
</div>

{% endblock content %}
{% block scripts %}
{% from 'bits.html' import script_src -%}
{{ script_src('js/lib/datatables/jquery.dataTables.min.js') }}
{{ script_src('js/lib/datatables/DT_bootstrap.js') }}
<script>
  $(function () {
    $('.mapping_listing').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "bStateSave": true,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "Display _MENU_ mappings per page",
            "sInfo": "Showing _START_ to _END_ of _TOTAL_ mappings",
            "sZeroRecords": "No matching mappings found"
        }
    });

    $(".btn-danger").on("click", function (e) {
      e.preventDefault();
      if(confirm("Are you sure you want to delete this mapping?")) {
        $.ajax({
          "url": $(this).attr("href"),
          "type": "DELETE",
          "success": function (data) {
            if(data.status == "success") window.location = "/admin/mapping";
          }
        });
      }
    });
});
</script>

{% endblock scripts %}
