{% extends 'layout.html' %}
{% block content %}

<style>
#DataTables_Table_0_wrapper {
    margin-top: 20px;
}
</style>

{% from 'bits.html' import breadcrumb_items -%}
<ul class="breadcrumb">
  {{ breadcrumb_items([
      (url_for('goals.admin'), _("Admin")),
      (url_for('goals.mapping'), _("Mapping"))
      ]) }}
</ul>

<a class="pull-right btn btn-mini" href={{url_for('goals.homepage_goals')}}>Back to AICHI</a>

{% from "navigation.html" import nav_tabs with context %}
{{ nav_tabs('mapping') }}

<h1 class="small">{{_('Mappings of National Objectives to Aichi and EU targets')}}</h1>

<div class="add-button">
    <a class="btn btn-primary" href="{{ url_for('goals.mapping_edit') }}">{{_('Add mapping')}}</a>
</div>

<table class="table table-bordered table-striped mapping_listing">

  <thead>
    <th>{{_('Objective')}}</th>
    <th>{{_('Goal')}}</th>
    <th>{{_('Most relevant target')}}</th>
    <th>{{_('Other relevant targets')}}</th>
    <th>{{_('EU targets')}}</th>
    <th>{{_('EU actions')}}</th>
    <th>{{_('Edit')}}</th>
    <th>{{_('Delete')}}</th>
  </thead>

  <tbody>
    {% for mapping in mappings %}
    <tr>
      {% set objective_id = mapping.objective[0] %}
      {% if mapping.objective[1] %}{% set so1_id = mapping.objective[1] %}{% endif %}
      {% if mapping.objective[2] %}{% set so2_id = mapping.objective[2] %}{% endif %}
      {% if mapping.objective[3] %}{% set so3_id = mapping.objective[3] %}{% endif %}
      {% if mapping.objective[4] %}{% set so4_id = mapping.objective[4] %}{% endif %}

      <td>
      {% if so2_id %}
        {% if so3_id %}
          {% if so4_id %}
            <a href="{{url_for('objectives.view', objective_id=objective_id,
                                so1_id=so1_id, so2_id=so2_id, so3_id=so3_id,
                                so4_id=so4_id)}}">
          {% else %}
            <a href="{{url_for('objectives.view', objective_id=objective_id,
                                so1_id=so1_id, so2_id=so2_id, so3_id=so3_id)}}">
          {% endif %}
        {% else %}
          <a href="{{url_for('objectives.view', objective_id=objective_id,
                              so1_id=so1_id, so2_id=so2_id)}}">
        {% endif %}
      {% else %}
        <a href="{{url_for('objectives.view', objective_id=objective_id,
                            so1_id=so1_id)}}">
      {% endif %}
        {{mapping.objective|join('.')}}
      </a></td>

      <td><a href="{{url_for('goals.edit', goal_id=mapping.goal.id)}}">
          {{mapping.goal.name}}
      </a></td>

      <td><a href="{{url_for('targets.edit', target_id=mapping.main_target)}}">
          {{mapping.main_target}}
      </a></td>

      <td>{% for target in mapping.other_targets %}
        <a href="{{url_for('targets.edit', target_id=target)}}">
          {{target}}
        </a>{% if not loop.last %},{% endif %}
      {% endfor %}</td>

      <td>
        {% if mapping.eu_targets %}
            {% for eu_target in mapping.eu_targets %}
                <a href="{{url_for('eu_strategy.view_target', target_id=eu_target)}}">
                  {{eu_target}}
                </a>{% if not loop.last %},{%endif%}
            {% endfor %}
        {% endif %}
      </td>

      <td>
        {% if mapping.eu_actions %}
            {% for eu_action in mapping.eu_actions %}
                <a href="{{eu_actions_urls[eu_action]['url']}}">
                    {{eu_actions_urls[eu_action]['title']}}
                </a>{% if not loop.last %},{%endif%}
            {% endfor %}
        {% endif %}
      </td>

      <td style="text-align: center;">
        <a class="btn btn-mini btn-primary"
          href="{{ url_for('goals.mapping_edit', mapping_id=mapping._id) }}">
          {{_('edit')}}
        </a>
      </td>

      <td style="text-align: center;">
        <a class="btn btn-mini btn-danger"
           href="{{ url_for('goals.mapping_delete', mapping_id=mapping._id) }}">
           {{_('delete')}}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}
{% block scripts %}
{% from 'bits.html' import script_src -%}
{{ script_src('js/lib/datatables/jquery.dataTables.min.js') }}
{{ script_src('js/lib/datatables/DT_bootstrap.js') }}
<script>
  $(function () {
    $('.mapping_listing').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "bStateSave": true,
        "sPaginationType": "bootstrap",
        "oLanguage": {
          "sLengthMenu": '{{_("Display _MENU_ mappings per page")}}',
          "sInfo": '{{_("Showing _START_ to _END_ of _TOTAL_ mappings")}}',
          "sZeroRecords": '{{_("No matching mappings found")}}'
        }
    });

    $(".btn-danger").on("click", function (e) {
      e.preventDefault();
      if(confirm('{{_("Are you sure you want to delete this mapping?")}}')) {
        $.ajax({
          "url": $(this).attr("href"),
          "type": "DELETE",
          "success": function (data) {
            if(data.status == "success") window.location = "/admin/mapping";
          }
        });
      }
    });
});
</script>

{% endblock scripts %}
